.content-card {
    min-height: 10rem;
    min-width: 16rem;
    justify-content: center;
    align-items    : center;
    border-radius: 50%;
}

.pr-6 {
    padding-right: 5vw;
    padding-left: 3vw;
  }

 a{
    text-decoration: none;

 } 

 .container{
     margin-top: 15vh;
 }