<div class="container page_content">
  <div class="row">
    <div class="col-3 mt-4 pr-6 pr-6">
      <div class="card content-card" style="background-color:#842d72">
        <a href="javascript:void(0)" routerLink="/dashboard/bar" class="text-white font-weight-bold">
          Bar Chart
        </a>
      </div>
    </div>
    <div class="col-3 mt-4 pr-6">
      <div class="card content-card" style="background-color:#ee316b">
        <a href="javascript:void(0)" routerLink="/dashboard/pie" class="text-white font-weight-bold">
          Pie chart
        </a>
      </div>
    </div>
    <div class="col-3 mt-4 pr-6">
      <div class="card content-card" style="background-color:#ffb037">
        <a href="javascript:void(0)" routerLink="/dashboard/donut" class="text-white font-weight-bold">
          Donut chart
        </a>
      </div>
    </div>
    <div class="col-3 mt-4 pr-6">
      <div class="card content-card" style="background-color:#fbdfb7;color: black;">
        <a href="javascript:void(0)" routerLink="/dashboard/line" class="text-dark font-weight-bold">
          Column chart
        </a>
      </div>
    </div>
  </div>
</div>