<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/dashboard/home">Chart</a>
    
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/pie" >Pie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/bar">Bar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/donut">Donut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/line">Column</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/bubble">Bubble</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
